# ===== Visual Studio =====
.vs/
*.user
*.suo
*.cache
*.log

# ===== Build output =====
x64/
Debug/
Release/
out/
bin/
obj/
assets/pine
# ===== Visual Studio temp folders =====
Car_Show.*/
assets/*
!assets/.keep



