# ===== Visual Studio =====
.vs/
*.user
*.suo
*.cache
*.log

# ===== Build output =====
x64/
Debug/
Release/
out/
bin/
obj/
assets/pine
external/lib/assimp-vc143-mt.lib
# ===== Visual Studio temp folders =====
Car_Show.*/
